<head>
<link rel="stylesheet" href="style.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
</head>
<body>
 
   <header>
    <img id="logo" src="images/logoGris.png" alt="">
    <nav>
      <a class="logoNuit" href="/index"><img src="images/nuit.png" class="iconeBandeau"> </a>  
      <a href="/donnees">Traitement des données</a>
      <a href="/listeSynthese">Sauvegarde précédente</a>
      <a href="/infosPersonnelles"> <img src="images/compte.png" class="iconeBandeau"> </a>
    </nav>
  </header>
  
</body>
</html>
