<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>
<div class="rectangle-violet2">
    <div class="vous-n-avez-pas-de-compte">Vous n’avez pas de compte?</div>
    <div class="d-couvrez-les-possibilit-s-infinies-de-pulse-point-en-cr-ant-un-compte-d-s-maintenant">
             Découvrez les possibilités infinies de Pulse Point en créant un compte dès
             maintenant!
    </div>
    <a href="/inscription">
      <button id="btn-compte"> Créer un compte</button>
   </a>
</div>

<div class="connexion-carre">
  <div class="inscrivez-vous">CONNECTEZ-VOUS</div>
  <form id="connexion">

    <div class="form-group2">
      <label for="email">Email</label>
      <div class="input-container">
        <input type="email" id="email" required>
        <img src="images/email.png" alt="Icone2" class="icon">
      </div>
    </div>
  
    <div class="form-group2">
      <label for="motdepasse">Mot de passe</label>
      <div class="input-container">
        <input type="password" id="motdepasse" required>
        <img src="images/cadenas.png" alt="Icone3" class="icon">
      </div>
    </div>
    <a href="#">
      <button id="btn-seConnecter2"> Se connecter</button>
    </a>
    <a href="/motDePasse"> <div class="mot-de-passe-oublie">Mot de passe oublié?</div></a>

  </form>
</div>



