<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
<body>
    
    <img
        class="dynamic-composition-of-colorful-lenses-cylinders-and-cubes"
        src="images/donnes.png"
    />

    <div class="rectangle-38">
        <div class="cliquez-ici-pour-d-poser-votre-fichier-excel">
            Cliquez ici pour déposer votre fichier Excel
       </div>
       <img class="icons-8-xls-64-1" src="images/xls.png" />

    </div>
    <a href="/recapQuest" id="signup-link">
      <button id ="btn-extraire">
        Extraire les données
    </button>
    </a>
    
   
   
</body>