
<head>
  <link rel="stylesheet" href="/stylesheets/style.css"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

</head>
<body>

<div class="container1">
  <div class="pulse-point-votre-partenaire-dans-l-exploitation-des-donn-es">
    <span>
      <span
        class="pulse-point-votre-partenaire-dans-l-exploitation-des-donn-es-span"
      >
        PULSE
      </span>
      <span
        class="pulse-point-votre-partenaire-dans-l-exploitation-des-donn-es-span2"
      ></span>
      <span
        class="pulse-point-votre-partenaire-dans-l-exploitation-des-donn-es-span3"
      >
        POINT
      </span>
      <span
        class="pulse-point-votre-partenaire-dans-l-exploitation-des-donn-es-span4"
      >
        , votre partenaire dans l’exploitation des<br>données
      </span>
    </span>
  </div>
  
  <div
    class="analyser-et-exploiter-pleinement-le-potentiel-de-vos-informations-notre-mission-est-de-vous-guider-travers-le-monde-complexe-des-donn-es-de-les-rendre-compr-hensibles-et-exploitables-avec-pulse-point-transformez-chaque-donn-e-en-une-opportunit-d-action-et-tracez-la-voie-vers-des-d-cisions-clair-es-et-innovantes"
  >
    Analyser et exploiter pleinement le potentiel de vos informations.
    <br />
    Notre mission est de vous guider à travers le monde complexe des <br>données, de
    les rendre compréhensibles et exploitables. Avec PULSE <br>POINT, transformez
    chaque donnée en une opportunité d&#039;action, et tracez <br>la voie vers des
    décisions éclairées et innovantes.
  </div>

</div>

  <div class="btn-demarer">
    <a href="/donnees"> 
      <button id="btn-demarer"> Démarer l'expérience</button>
    </a>
  </div>
 
  
  <div class="ellipse-1"></div>
  
  <img class="_3-d-glassy-three-deformed-thin-lenses-of-different-colors-1"
  src="images/accueil.png" alt="">
  <footer>
  <div class="group-17">
    <div class="rectangle-50"> </div>
      <img class="openai-1" src="images/openai.png" />
      <img class="google-sheets-1" src="images/googleSheets.png" />
      <img class="logo-cx-f-1" src="images/logoCxF.png" />
      <img class="lgtbaimbridge-1" src="images/lgtbaimbridge.jpg" />
  </div>
  </footer>

</body>

