<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>
<div class="carre-compte">
    <div class="compte">COMPTE</div>
    <div class="informations-personnelles">Informations personnelles</div>
    <a href="file:///C:/Users/59069/Desktop/PP/Supression.html"> <div class="supprimer-le-compte">Supprimer le compte</div> </a>
   <a href="#"><button id="btn-modifier">Modifier</button></a> 
    <img src="images/user.png" alt="Icone1" class="icon2">
    <img src="images/email.png" alt="Icone2" class="icon2">
    <img src="images/cadenas.png" alt="Icone4" class="icon2">
</div>
