<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>
<div class="rectangle-violet">
    <div class="vous-tes-d-j-inscrit">Vous êtes déjà inscrit?</div>
    <div
    class="reprenez-l-o-vous-vous-tes-arr-t-en-vous-connectant-votre-compte-pulse-point">
    Reprenez là où vous vous êtes arrêté en vous connectant à votre compte Pulse
    Point.
  </div>
  <a href="/connexion"> 
    <button id="btn-seConnecter1"> Se connecter</button>
  </a>
</div>

<div class="inscription-carre">
  <div class="inscrivez-vous">INSCRIVEZ-VOUS</div>
  <form id="inscription">

    <div class="form-group">
      <label for="NomPrenom">Nom et prénom</label>
      <div class="input-container">
        <input type="text" id="NomPrenom" required>
        <img src="images/user.png" alt="Icone1" class="icon">
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-container">
        <input type="email" id="email" required>
        <img src="images/email.png" alt="Icone2" class="icon">
      </div>
    </div>
  
    <div class="form-group">
      <label for="motdepasse">Mot de passe</label>
      <div class="input-container">
        <input type="password" id="motdepasse" required>
        <img src="images/cadenas.png" alt="Icone3" class="icon">
      </div>
    </div>

    <div class="form-group">
      <label for="confirmermdp">Confirmer le mot de passe</label>
      <div class="input-container">
        <input type="password" id="confirmermdp" required>
        <img src="images/cadenas.png" alt="Icone4" class="icon">
      </div>
    </div>
  
  </form>
</div>
<button id="btn-inscrire"> S'inscrire</button>



