<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>
<body>
    
  <img class="dynamic-composition-with-levitating-glass-balls" src="images/mdp.png"/>
    <div class="rectangle-47"> 
        <img class="logo-marketing-agency-digital-3" src="images/logo.png"/>
        <div class="mot-de-passe-oubli">Mot de passe oublié ?</div>
        <div class="entrez-votre-adresse-e-mail-ci-dessous"> Entrez votre adresse e-mail ci-dessous</div>

        <div class="form-groupReinitialiser">
            <label for="email">Adresse e-mail</label>
            <div class="input-containerReinitialiser">
              <input type="email" id="email" required>
            </div>
          </div>
         <a href=""> <button id="btn-reinitialiser"> Réinitialiser le mot de passe </button> </a>
        <a href="file:///C:/Users/59069/Desktop/PP/connexion.html"> <div class="retour-la-page-de-connexion">Retour à la page de connexion</div> </a>  

    </div>


</body>


