<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>

  <body class="body-overflow-visible">
    <div class="rectangle-40">
        <div class="donn-es-r-colt-es">Données récoltées:</div>
    
    </div>
    
    <div
      class="s-lectionnez-les-questions-qui-vous-int-ressent-et-obtenez-une-synth-se-sur-mesure">
      Sélectionnez les questions qui vous intéressent et obtenez une synthèse sur
      mesure.
    </div>
    
    <div class="rectangle-43">
        <div class="checkbox-container">
            <input type="checkbox" id="selectAll" class="checkbox">
            <label for="selectAll" class="label">Tout sélectionner</label>
          </div>
    </div>

    <div class="rectangle-45">
        <a href="/synthese" id="signup-link">
          <button id="btn-synthese"> Synthétiser les réponses</button>
        </a>
    </div>

  </body>
