<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

  </head>

  <div class="carre-supprimer">
    <div class="votre-compte-a-ete-supprimer-avec-succes">
        VOTRE COMPTE A ETE <br>SUPPRIMER AVEC SUCCES
      </div>
      
      <div
             class="vos-donn-es-personnelles-ont-t-supprim-es-en-revanche-les-synth-se-sauvegard-es-sont-conserv-es-afin-d-effectuer-nos-statistiques">
            *Vos données personnelles ont été supprimées. En revanche les synthèse
            sauvegardées sont<br> conservées afin d’effectuer
                <br> nos statistiques.
        </div>
    </div>
